<html>
<head>

    <title>Mrt To Submtz Sankey Chart</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

</head>
<body>
  <h1> Key in your parameters below: </h1>
  <form>
      <label for="date">Date (format: yyyymmdd):</label>
      <input type="text" name="date" id='date' value="20150809" autofocus>
      <br>
      <label for="time_start">Time start (format: hh:mm:ss):</label>
      <input type="text" name="time_start" id='time_start' value="18:00:00" autofocus>
      <br>
      <label for="time_end">Time end (format: hh:mm:ss):</label>
      <input type="text" name="time_end" id='time_end' value="19:00:00" autofocus>
      <br>
      <label for="submtz">Submtz:</label>
      <input type="text" name="submtz" id='submtz' value="612" autofocus>
      <br>
      <br>

      <!-- <input type="submit" value="Submit"> -->

      <input type="button" value="submit" onclick="drawChart()" />

  </form>

  <script type="text/javascript"
           src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['sankey']}]}">
  </script>

  <div id="sankey_multiple" style="width: 1000px; height: 600px;"></div>

  <script type="text/javascript">

    function drawChart() {
      console.log('in drawChart');

      d3.csv("../static/20150809_test.csv", function(csv){
         //console.log("csv read");
         //console.log(csv.length);
        //  console.log(csv[0]);
         //console.log(csv[0]['submtz']);
         //console.log(csv[0]['mrtStn1']);
         var submtz = document.getElementById('submtz').value
         var submtz_ind = _.findIndex(csv, function(o) { return o.submtz == submtz; });
         console.log(submtz_ind);

         mrtStn1 = csv[submtz_ind]['mrtStn1'];
         var count1 = csv[submtz_ind]['count1'];
         var mrtStn2 = csv[submtz_ind]['mrtStn2'];
         var count2 = csv[submtz_ind]['count2'];

         console.log(mrtStn1);
         console.log(count1);
         //google.setOnLoadCallback(drawChart);  // drawchart function will be called when the document is fully loaded

         var data = new google.visualization.DataTable();
         data.addColumn('string', 'From');
         data.addColumn('string', 'To');
         data.addColumn('number', 'Count');
         data.addRows([
           [mrtStn1, submtz, Number(count1)],
           [mrtStn2, submtz, Number(count2)],
         ]);

         // Set chart options
         // #000080 : dark blue
         // #FFA500 : orange
         // #ADD8E6 : light blue
         // #FF69B4 : pink
         var colors = ['#FF0000', '#000080', '#FFA500', '#ADD8E6', '#FF69B4', '#00FF00', '#0000FF', '#000000'];

         var options = {
           width: 800,
           sankey: {
             node: {
               colors: colors
             },
           }
         };

         // Instantiate and draw our chart, passing in some options.
         var chart = new google.visualization.Sankey(document.getElementById('sankey_multiple'));
         chart.draw(data, options);
      });
    }

  </script>

</body>
</html>
